.dragHandle {
    font-weight: bold;
    cursor: default;
}

.currentPriorityTh {
    outline: 2px dashed skyblue;
}
.currentPriorityTh .selectPriorityButton {
    text-decoration: underline;
}
.table {
    border-collapse: collapse;
}
.table td {
    cursor: default;
}
.table tbody tr:hover {
    background-color: rgb(255, 208, 193);
    border-color: darksalmon;
}